*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    height: 10%;
    background-color: rgb(141, 146, 146);
    text-align: center;
}
header>h1{
    padding: 10px;
}

#map {
    /* margin-top: 20px; */
    height: 90vh;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }